<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cliente.atualizar.titulo}">Atualizar Cliente</title>
</head>
<body>
<h1 th:text="#{cliente.atualizar.titulo}">Atualizar Cliente</h1>
<form th:action="@{/clientes/atualizar/{id}(id=${cliente.id})}" th:object="${cliente}" method="post">
    <label for="nome" th:text="#{cliente.nome}">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}">
    <br>

    <label for="email" th:text="#{cliente.email}">Email:</label>
    <input type="email" id="email" th:field="*{email}">
    <br>

    <button type="submit" th:text="#{cliente.atualizar.botao}">Atualizar</button>
</form>
</body>
</html>
